<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/videojs-contrib-hls/5.14.1/videojs-contrib-hls.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.6.2/alt/video-js-cdn.css" rel="stylesheet">
