<div class="juji-act g-clear">
  <div class="juji-left g-clear">

    <div id="js-year" class="juji-year">
      <div class="now js-now">
        <label class="js-year-now">2018</label>
        <em></em>
      </div>
      <ul class="juji-year-list js-year-list">
        <li class="">
          <a class="js-year-item current" data-year="2018" href="#">2018</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2017" href="#">2017</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2016" href="#">2016</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2015" href="#">2015</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2014" href="#">2014</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2013" href="#">2013</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2012" href="#">2012</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2011" href="#">2011</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2010" href="#">2010</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2009" href="#">2009</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2008" href="#">2008</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2007" href="#">2007</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2006" href="#">2006</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="2005" href="#">2005</a>
        </li>
        <li class="">
          <a class="js-year-item" data-year="1998" href="#">1998</a>
        </li>
        <li class="last">
          <a class="js-year-item" data-year="1997" href="#">1997</a>
        </li>
      </ul>

    </div>


    <div class="juji-month g-clear">
      <a class="current js-month" href="#">最新</a>
      <a class="js-month" href="#">12月</a>
      <a class="js-month" href="#">11月</a>
      <a class="js-month" href="#">10月</a>
      <a class="js-month" href="#">9月</a>
      <a class="js-month" href="#">8月</a>
      <a class="js-month" href="#">7月</a>
      <a class="js-month" href="#">6月</a>
      <a class="js-month" href="#">5月</a>
      <a class="js-month" href="#">4月</a>
      <a class="js-month" href="#">3月</a>
      <a class="js-month" href="#">2月</a>
      <a class="js-month" href="#">1月</a>
    </div>
  </div>
</div>

<div class="juji-main">
  <div id="js-year-all" class="js-month-tab g-clear">
    <em class='top-new'></em>
    <ul class="list w-newfigure-list g-clear">


      <li title='火王夫妇陈柏霖景甜合体撒糖' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4800649.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://p3.qhimg.com/dmfd/180_100_/d/dy_44dbc2ba6cfec2b9a6fe02c364418cf2.jpg' alt='火王夫妇陈柏霖景甜合体撒糖' /><span
              class='w-newfigure-hint'>2018-12-08期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>火王夫妇陈柏霖景甜合体撒糖</span></p>
          </div>
        </a></li>
      <li title='韩雪张若昀声音挑战出奇招' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4779667.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://p6.qhimg.com/dmfd/180_100_/d/dy_c3fe7f158a24e610316a620d68730bc0.jpg' alt='韩雪张若昀声音挑战出奇招' /><span
              class='w-newfigure-hint'>2018-12-01期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>韩雪张若昀声音挑战出奇招</span></p>
          </div>
        </a></li>
      <li title='袁泉杨蓉上演爆笑&quot;争宠记&quot;' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4759327.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://p3.qhimg.com/dmfd/180_100_/d/dy_737ffd036fe1732efcde0ad17e581907.jpg' alt='袁泉杨蓉上演爆笑&quot;争宠记&quot;' /><span
              class='w-newfigure-hint'>2018-11-24期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>袁泉杨蓉上演爆笑&quot;争宠记&quot;</span></p>
          </div>
        </a></li>
      <li title='胡一天张哲瀚爆笑上演《香蜜》' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4738599.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://p3.qhimg.com/dmfd/180_100_/d/dy_32a7a0b6a1a039c0353ed1298257b93a.jpg' alt='胡一天张哲瀚爆笑上演《香蜜》' /><span
              class='w-newfigure-hint'>2018-11-17期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>胡一天张哲瀚爆笑上演《香蜜》</span></p>
          </div>
        </a></li>
      <li title='佟丽娅“脑”力全开！' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4715371.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://3img.mgtv.com/preview/sp_images/2018/11/10/zongyi/320519/4715371/20181110191215099.jpg'
              alt='佟丽娅“脑”力全开！' /><span class='w-newfigure-hint'>2018-11-10期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>佟丽娅“脑”力全开！</span></p>
          </div>
        </a></li>
    </ul>
    <div class="more-juji jump-more-juji js-more-juji" data-block="tj-more" monitor-desc="往期更多">
      <a href="####" target="_self">往期更多<i class="more-juji-icon"></i></a>
    </div>
    <ul class="list w-newfigure-list g-clear js-more-page" style="display:none;">
      <li title='秦岚王冠逸大唱情歌' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4692363.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4692363/20181103184007637.jpg' alt='秦岚王冠逸大唱情歌' /><span
              class='w-newfigure-hint'>2018-11-03期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>秦岚王冠逸大唱情歌</span></p>
          </div>
        </a></li>
      <li title='邢昭林梁洁“坦诚夫妇”合体' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4671350.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4671350/20181027201705834.jpg' alt='邢昭林梁洁“坦诚夫妇”合体' /><span
              class='w-newfigure-hint'>2018-10-27期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>邢昭林梁洁“坦诚夫妇”合体</span></p>
          </div>
        </a></li>
      <li title='许凯王茂蕾“英雄救美”嗨酷炫' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4652069.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4652069/20181020193707117.jpg' alt='许凯王茂蕾“英雄救美”嗨酷炫' /><span
              class='w-newfigure-hint'>2018-10-20期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>许凯王茂蕾“英雄救美”嗨酷炫</span></p>
          </div>
        </a></li>
      <li title='李易峰秀歌技竟唱懵所有人？' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4632912.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://p3.qhimg.com/dmfd/180_100_/d/dy_fa5602c785a33afde0a91d4aa2d6a5f1.jpg' alt='李易峰秀歌技竟唱懵所有人？' /><span
              class='w-newfigure-hint'>2018-10-13期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>李易峰秀歌技竟唱懵所有人？</span></p>
          </div>
        </a></li>
      <li title='钟汉良许魏洲舞林高手大对决' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4614801.html?cxid=90f0zbamf'
          data-daochu=to=imgo class='js-link'>
          <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
              data-src='http://p9.qhimg.com/dmfd/180_100_/d/dy_a053086654d6878f1cd55993def67b96.jpg' alt='钟汉良许魏洲舞林高手大对决' /><span
              class='w-newfigure-hint'>2018-10-06期</span></div>
          <div class='w-newfigure-detail'>
            <p class='title g-clear'><span class='s1'>钟汉良许魏洲舞林高手大对决</span></p>
          </div>
        </a></li>
    </ul>
    <div class="fold-juji jump-more-juji js-fold-juji" style="display: none" data-block="tj-more" monitor-desc="收起往期更多">
      <a href="####" target="_self">收起<i class="more-juji-icon"></i></a>
    </div>
  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='火王夫妇陈柏霖景甜合体撒糖' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4800649.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/12/8/zongyi/320519/4800649/20181208201901980.jpg'
                alt='火王夫妇陈柏霖景甜合体撒糖' /><span class='w-newfigure-hint'>2018-12-08期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>火王夫妇陈柏霖景甜合体撒糖</span></p>
            </div>
          </a></li>
        <li title='韩雪张若昀声音挑战出奇招' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4779667.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/12/1/zongyi/320519/4779667/20181201185439875.jpg'
                alt='韩雪张若昀声音挑战出奇招' /><span class='w-newfigure-hint'>2018-12-01期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>韩雪张若昀声音挑战出奇招</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='袁泉杨蓉上演爆笑&quot;争宠记&quot;' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4759327.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/11/24/zongyi/320519/4759327/20181124200009438.jpg'
                alt='袁泉杨蓉上演爆笑&quot;争宠记&quot;' /><span class='w-newfigure-hint'>2018-11-24期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>袁泉杨蓉上演爆笑&quot;争宠记&quot;</span></p>
            </div>
          </a></li>
        <li title='胡一天张哲瀚爆笑上演《香蜜》' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4738599.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/11/17/zongyi/320519/4738599/20181117221549020.jpg'
                alt='胡一天张哲瀚爆笑上演《香蜜》' /><span class='w-newfigure-hint'>2018-11-17期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>胡一天张哲瀚爆笑上演《香蜜》</span></p>
            </div>
          </a></li>
        <li title='佟丽娅“脑”力全开！' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4715371.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/11/10/zongyi/320519/4715371/20181110191215099.jpg'
                alt='佟丽娅“脑”力全开！' /><span class='w-newfigure-hint'>2018-11-10期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>佟丽娅“脑”力全开！</span></p>
            </div>
          </a></li>
        <li title='秦岚王冠逸大唱情歌' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4692363.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4692363/20181103184007637.jpg' alt='秦岚王冠逸大唱情歌' /><span
                class='w-newfigure-hint'>2018-11-03期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>秦岚王冠逸大唱情歌</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='邢昭林梁洁“坦诚夫妇”合体' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4671350.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4671350/20181027201705834.jpg' alt='邢昭林梁洁“坦诚夫妇”合体' /><span
                class='w-newfigure-hint'>2018-10-27期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>邢昭林梁洁“坦诚夫妇”合体</span></p>
            </div>
          </a></li>
        <li title='许凯王茂蕾“英雄救美”嗨酷炫' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4652069.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4652069/20181020193707117.jpg' alt='许凯王茂蕾“英雄救美”嗨酷炫' /><span
                class='w-newfigure-hint'>2018-10-20期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>许凯王茂蕾“英雄救美”嗨酷炫</span></p>
            </div>
          </a></li>
        <li title='李易峰秀歌技竟唱懵所有人？' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4632912.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4632912/20181013200134263.jpg' alt='李易峰秀歌技竟唱懵所有人？' /><span
                class='w-newfigure-hint'>2018-10-13期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>李易峰秀歌技竟唱懵所有人？</span></p>
            </div>
          </a></li>
        <li title='钟汉良许魏洲舞林高手大对决' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4614801.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4614801/20181006204849760.jpg' alt='钟汉良许魏洲舞林高手大对决' /><span
                class='w-newfigure-hint'>2018-10-06期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>钟汉良许魏洲舞林高手大对决</span></p>
            </div>
          </a></li>
        <li title='“凤凰”邓伦甜蜜献唱' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4606634.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4606634/20181001182952950.jpg' alt='“凤凰”邓伦甜蜜献唱' /><span
                class='w-newfigure-hint'>2018-10-01期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>“凤凰”邓伦甜蜜献唱</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='郑恺毛不易领衔超强卡司嗨唱' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4584660.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4584660/20180922184228446.jpg' alt='郑恺毛不易领衔超强卡司嗨唱' /><span
                class='w-newfigure-hint'>2018-09-22期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>郑恺毛不易领衔超强卡司嗨唱</span></p>
            </div>
          </a></li>
        <li title='陈坤惊喜开唱回忆满满' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4568092.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4568092/20180915194152082.jpg' alt='陈坤惊喜开唱回忆满满' /><span
                class='w-newfigure-hint'>2018-09-15期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>陈坤惊喜开唱回忆满满</span></p>
            </div>
          </a></li>
        <li title='张翰杜江遭遇体能终极考验' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4553174.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/320519/4553174/20180908193602855.jpg' alt='张翰杜江遭遇体能终极考验' /><span
                class='w-newfigure-hint'>2018-09-08期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>张翰杜江遭遇体能终极考验</span></p>
            </div>
          </a></li>
        <li title='杨洋化身古风少年上演空中劈叉' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4540488.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/320519/4540488/20180901202340261.jpg' alt='杨洋化身古风少年上演空中劈叉' /><span
                class='w-newfigure-hint'>2018-09-01期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>杨洋化身古风少年上演空中劈叉</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='“主厨”王俊凯苏有朋叫板谢娜' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4528714.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4528714/20180825200345166.jpg' alt='“主厨”王俊凯苏有朋叫板谢娜' /><span
                class='w-newfigure-hint'>2018-08-25期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>“主厨”王俊凯苏有朋叫板谢娜</span></p>
            </div>
          </a></li>
        <li title='秦岚佘诗曼争当《白月光》女主' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4515593.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/320519/4515593/20180818175608361.jpg' alt='秦岚佘诗曼争当《白月光》女主' /><span
                class='w-newfigure-hint'>2018-08-18期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>秦岚佘诗曼争当《白月光》女主</span></p>
            </div>
          </a></li>
        <li title='流星四子解锁新技能现场秀唱功' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4504546.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/320519/4504546/20180811193448248.jpg' alt='流星四子解锁新技能现场秀唱功' /><span
                class='w-newfigure-hint'>2018-08-11期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>流星四子解锁新技能现场秀唱功</span></p>
            </div>
          </a></li>
        <li title='黄渤张艺兴玩转“最欢乐KTV”' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4493002.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/320519/4493002/20180804195706668.jpg' alt='黄渤张艺兴玩转“最欢乐KTV”' /><span
                class='w-newfigure-hint'>2018-08-04期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>黄渤张艺兴玩转“最欢乐KTV”</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='鞠婧祎宋茜变身“野蛮女友”' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4483705.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4483705/20180728200749019.jpg' alt='鞠婧祎宋茜变身“野蛮女友”' /><span
                class='w-newfigure-hint'>2018-07-28期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>鞠婧祎宋茜变身“野蛮女友”</span></p>
            </div>
          </a></li>
        <li title='林更新新官上任遭赵又廷狠怼？' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4473350.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4473350/20180721202230324.jpg' alt='林更新新官上任遭赵又廷狠怼？' /><span
                class='w-newfigure-hint'>2018-07-21期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>林更新新官上任遭赵又廷狠怼？</span></p>
            </div>
          </a></li>
        <li title='白宇朱一龙“互怼”变蹦迪' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4464631.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4464631/20180714194957829.jpg' alt='白宇朱一龙“互怼”变蹦迪' /><span
                class='w-newfigure-hint'>2018-07-14期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>白宇朱一龙“互怼”变蹦迪</span></p>
            </div>
          </a></li>
        <li title='乐华七子合体首秀齐聚马栏山' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4456290.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4456290/20180707193553102.jpg' alt='乐华七子合体首秀齐聚马栏山' /><span
                class='w-newfigure-hint'>2018-07-07期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>乐华七子合体首秀齐聚马栏山</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='胡一天张亮携神秘礼物来袭' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4448746.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4448746/20180630194549751.jpg' alt='胡一天张亮携神秘礼物来袭' /><span
                class='w-newfigure-hint'>2018-06-30期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>胡一天张亮携神秘礼物来袭</span></p>
            </div>
          </a></li>
        <li title='李易峰掀开“海上迷雾”' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4440726.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/320519/4440726/20180623175020462.jpg' alt='李易峰掀开“海上迷雾”' /><span
                class='w-newfigure-hint'>2018-06-23期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>李易峰掀开“海上迷雾”</span></p>
            </div>
          </a></li>
        <li title='NINE PERCENT诠释专属兄弟情' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4433695.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4433695/20180616194636122.jpg' alt='NINE PERCENT诠释专属兄弟情' /><span
                class='w-newfigure-hint'>2018-06-16期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>NINE PERCENT诠释专属兄弟情</span></p>
            </div>
          </a></li>
        <li title='张杰谢娜超甜合体上演爆笑互怼' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4425213.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4425213/20180609210640034.jpg' alt='张杰谢娜超甜合体上演爆笑互怼' /><span
                class='w-newfigure-hint'>2018-06-09期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>张杰谢娜超甜合体上演爆笑互怼</span></p>
            </div>
          </a></li>
        <li title='NINE PERCENT合体花样秀演技' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4415944.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4415944/20180602203208382.jpg' alt='NINE PERCENT合体花样秀演技' /><span
                class='w-newfigure-hint'>2018-06-02期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>NINE PERCENT合体花样秀演技</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='沈月吴昕重演偶像剧致敬经典' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4406503.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4406503/20180526200543509.jpg' alt='沈月吴昕重演偶像剧致敬经典' /><span
                class='w-newfigure-hint'>2018-05-26期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>沈月吴昕重演偶像剧致敬经典</span></p>
            </div>
          </a></li>
        <li title='戚薇肖战“穿越”飙演技' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4397154.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4397154/20180519202545537.jpg' alt='戚薇肖战“穿越”飙演技' /><span
                class='w-newfigure-hint'>2018-05-19期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>戚薇肖战“穿越”飙演技</span></p>
            </div>
          </a></li>
        <li title='黄宗泽何炅脑洞大开编故事' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4387350.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4387350/20180512194252141.jpg' alt='黄宗泽何炅脑洞大开编故事' /><span
                class='w-newfigure-hint'>2018-05-12期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>黄宗泽何炅脑洞大开编故事</span></p>
            </div>
          </a></li>
        <li title='谢娜回归快乐家族聚齐' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4378557.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4378557/20180505195403214.jpg' alt='谢娜回归快乐家族聚齐' /><span
                class='w-newfigure-hint'>2018-05-05期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>谢娜回归快乐家族聚齐</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='沈月于文文拍照大赛笑料不断' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4372473.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4372473/20180429202043937.jpg' alt='沈月于文文拍照大赛笑料不断' /><span
                class='w-newfigure-hint'>2018-04-29期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>沈月于文文拍照大赛笑料不断</span></p>
            </div>
          </a></li>
        <li title='刘若英综艺首秀掀回忆潮' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4361994.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4361994/20180421183818374.jpg' alt='刘若英综艺首秀掀回忆潮' /><span
                class='w-newfigure-hint'>2018-04-21期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>刘若英综艺首秀掀回忆潮</span></p>
            </div>
          </a></li>
        <li title='董子健郭京飞“声临”快本' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4352831.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4352831/20180414195508351.jpg' alt='董子健郭京飞“声临”快本' /><span
                class='w-newfigure-hint'>2018-04-14期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>董子健郭京飞“声临”快本</span></p>
            </div>
          </a></li>
        <li title='韩庚甜蜜分享“恋爱经”' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4343611.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/320519/4343611/20180407195632590.jpg' alt='韩庚甜蜜分享“恋爱经”' /><span
                class='w-newfigure-hint'>2018-04-07期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>韩庚甜蜜分享“恋爱经”</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='胡一天即兴代言变“睡美男”' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4336982.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4336982/20180331185940904.jpg' alt='胡一天即兴代言变“睡美男”' /><span
                class='w-newfigure-hint'>2018-03-31期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>胡一天即兴代言变“睡美男”</span></p>
            </div>
          </a></li>
        <li title='百变女声韩雪上演配音秀' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4327449.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4327449/20180324210744725.jpg' alt='百变女声韩雪上演配音秀' /><span
                class='w-newfigure-hint'>2018-03-24期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>百变女声韩雪上演配音秀</span></p>
            </div>
          </a></li>
        <li title='毛不易唱《体面》引神秘人现身' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4317138.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4317138/20180317193131886.jpg' alt='毛不易唱《体面》引神秘人现身' /><span
                class='w-newfigure-hint'>2018-03-17期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>毛不易唱《体面》引神秘人现身</span></p>
            </div>
          </a></li>
        <li title='王俊凯迪丽热巴再合体' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4308466.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4308466/20180310190015573.jpg' alt='王俊凯迪丽热巴再合体' /><span
                class='w-newfigure-hint'>2018-03-10期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>王俊凯迪丽热巴再合体</span></p>
            </div>
          </a></li>
        <li title='韩雪潘粤明被心理师现场读心' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4299776.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4299776/20180303210903345.jpg' alt='韩雪潘粤明被心理师现场读心' /><span
                class='w-newfigure-hint'>2018-03-03期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>韩雪潘粤明被心理师现场读心</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='张韶涵苏诗丁动情开唱' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4292084.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4292084/20180224191558784.jpg' alt='张韶涵苏诗丁动情开唱' /><span
                class='w-newfigure-hint'>2018-02-24期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>张韶涵苏诗丁动情开唱</span></p>
            </div>
          </a></li>
        <li title='迪丽热巴周渝民演绎“痛爱”' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4287283.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4287283/20180217170812415.jpg' alt='迪丽热巴周渝民演绎“痛爱”' /><span
                class='w-newfigure-hint'>2018-02-17期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>迪丽热巴周渝民演绎“痛爱”</span></p>
            </div>
          </a></li>
        <li title='宋威龙变身海带嗨唱洗脑神曲' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4281234.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4281234/20180210194839113.jpg' alt='宋威龙变身海带嗨唱洗脑神曲' /><span
                class='w-newfigure-hint'>2018-02-10期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>宋威龙变身海带嗨唱洗脑神曲</span></p>
            </div>
          </a></li>
        <li title='张艺兴携学员亮相霸屏马栏山' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4272698.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4272698/20180203204247057.jpg' alt='张艺兴携学员亮相霸屏马栏山' /><span
                class='w-newfigure-hint'>2018-02-03期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>张艺兴携学员亮相霸屏马栏山</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div style="display:none;" class="js-month-tab">
    <div class="g-clear js-month-page" style="display:block;">
      <ul class="list w-newfigure-list g-clear">
        <li title='德云社“叫板”快乐家族' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4263974.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4263974/20180127192727202.jpg' alt='德云社“叫板”快乐家族' /><span
                class='w-newfigure-hint'>2018-01-27期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>德云社“叫板”快乐家族</span></p>
            </div>
          </a></li>
        <li title='胡一天钟楚曦跨界嗨唱' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4255261.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/320519/4255261/20180120202254880.jpg' alt='胡一天钟楚曦跨界嗨唱' /><span
                class='w-newfigure-hint'>2018-01-20期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>胡一天钟楚曦跨界嗨唱</span></p>
            </div>
          </a></li>
        <li title='王凯王大陆兄弟“相爱相杀”' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4246522.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://2img.mgtv.com/preview/sp_images/2018/zongyi/320519/4246522/20180113164745469.jpg' alt='王凯王大陆兄弟“相爱相杀”' /><span
                class='w-newfigure-hint'>2018-01-13期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>王凯王大陆兄弟“相爱相杀”</span></p>
            </div>
          </a></li>
        <li title='李冰冰吴尊开启姐弟互坑模式' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/320519/4238070.html?cxid=90f0zbamf'
            data-daochu=to=imgo class='js-link'>
            <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                data-src='http://0img.mgtv.com/preview/sp_images/2018/zongyi/320519/4238070/20180106194701172.jpg' alt='李冰冰吴尊开启姐弟互坑模式' /><span
                class='w-newfigure-hint'>2018-01-06期</span></div>
            <div class='w-newfigure-detail'>
              <p class='title g-clear'><span class='s1'>李冰冰吴尊开启姐弟互坑模式</span></p>
            </div>
          </a></li>
      </ul>
      <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

      </ul>
    </div>


  </div>
  <div class="juji-page js-juji-page" style="display: none">
    <div monitor-desc='分页' id='js-ew-page' data-block='js-ew-page' class='ew-page'>
      </
