<div class="juji-act g-clear">
    <div class="juji-left g-clear">

        <div id="js-year" class="juji-year">
            <div class="now js-now">
                <label class="js-year-now">2018</label>
                <em></em>
            </div>
            <ul class="juji-year-list js-year-list">
                <li class="last">
                    <a class="js-year-item current" data-year="2018" href="#">2018</a>
                </li>
            </ul>

        </div>


        <div class="juji-month g-clear">
            <a class="current js-month" href="#">最新</a>
            <a class="js-month" href="#">11月</a>
            <a class="js-month" href="#">10月</a>
        </div>
    </div>
</div>

<div class="juji-main">
    <div id="js-year-all" class="js-month-tab g-clear">
        <em class='top-new'></em>
        <ul class="list w-newfigure-list g-clear">


            <li title='03期：神秘来电（上）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4733222.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://p9.qhimg.com/dmfd/180_100_/d/dy_a764e53427d79baeae9c63c856145f1e.jpg' alt='03期：神秘来电（上）' /><span
                            class='w-newfigure-hint'>2018-11-16期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>03期：神秘来电（上）</span></p>
                    </div>
                </a></li>
            <li title='03期：神秘来电（下）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4733223.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://3img.mgtv.com/preview/sp_images/2018/11/16/zongyi/325963/4733223/20181116022427788.jpg'
                            alt='03期：神秘来电（下）' /><span class='w-newfigure-hint'>2018-11-16期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>03期：神秘来电（下）</span></p>
                    </div>
                </a></li>
            <li title='02期：逃出无名岛Ⅱ（上）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4709240.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://p9.qhimg.com/dmfd/180_100_/d/dy_3ba9436725615cb45493187963782170.jpg' alt='02期：逃出无名岛Ⅱ（上）' /><span
                            class='w-newfigure-hint'>2018-11-09期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>02期：逃出无名岛Ⅱ（上）</span></p>
                    </div>
                </a></li>
            <li title='02期：逃出无名岛Ⅱ（下）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4709242.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://0img.mgtv.com/preview/sp_images/2018/11/8/zongyi/325963/4709242/20181108192154119.jpg'
                            alt='02期：逃出无名岛Ⅱ（下）' /><span class='w-newfigure-hint'>2018-11-09期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>02期：逃出无名岛Ⅱ（下）</span></p>
                    </div>
                </a></li>
            <li title='01期：逃出无名岛（下）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4686423.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://p6.qhimg.com/dmfd/180_100_/d/dy_abd4c838cf7e10da1d73cddabdba0ca1.jpg' alt='01期：逃出无名岛（下）' /><span
                            class='w-newfigure-hint'>2018-11-02期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>01期：逃出无名岛（下）</span></p>
                    </div>
                </a></li>
        </ul>
        <div class="more-juji jump-more-juji js-more-juji" data-block="tj-more" monitor-desc="往期更多">
            <a href="####" target="_self">往期更多<i class="more-juji-icon"></i></a>
        </div>
        <ul class="list w-newfigure-list g-clear js-more-page" style="display:none;">
            <li title='01期：逃出无名岛（上）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4686416.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://p1.qhimg.com/dmfd/180_100_/d/dy_31f2c9abeaaaf87754e899aa9635d2db.jpg' alt='01期：逃出无名岛（上）' /><span
                            class='w-newfigure-hint'>2018-11-02期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>01期：逃出无名岛（上）</span></p>
                    </div>
                </a></li>
            <li title='互动微剧：片场谜案' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4665373.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/325963/4665373/20181025145842456.jpg'
                            alt='互动微剧：片场谜案' /><span class='w-newfigure-hint'>2018-10-26期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>互动微剧：片场谜案</span></p>
                    </div>
                </a></li>
            <li title='先导片：侦心不改 侦探集结' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4665374.html?cxid=90f0zbamf'
                    data-daochu=to=imgo class='js-link'>
                    <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                            data-src='http://p1.qhimg.com/dmfd/180_100_/d/dy_6d58b40cf3cf97ad7ea7793873a61f23.jpg' alt='先导片：侦心不改 侦探集结' /><span
                            class='w-newfigure-hint'>2018-10-26期</span></div>
                    <div class='w-newfigure-detail'>
                        <p class='title g-clear'><span class='s1'>先导片：侦心不改 侦探集结</span></p>
                    </div>
                </a></li>
        </ul>
        <div class="fold-juji jump-more-juji js-fold-juji" style="display: none" data-block="tj-more" monitor-desc="收起往期更多">
            <a href="####" target="_self">收起<i class="more-juji-icon"></i></a>
        </div>
    </div>
    <div style="display:none;" class="js-month-tab">
        <div class="g-clear js-month-page" style="display:block;">
            <ul class="list w-newfigure-list g-clear">
                <li title='03期：神秘来电（上）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4733222.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://2img.mgtv.com/preview/sp_images/2018/11/16/zongyi/325963/4733222/20181116021938579.jpg'
                                alt='03期：神秘来电（上）' /><span class='w-newfigure-hint'>2018-11-16期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>03期：神秘来电（上）</span></p>
                        </div>
                    </a></li>
                <li title='03期：神秘来电（下）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4733223.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://3img.mgtv.com/preview/sp_images/2018/11/16/zongyi/325963/4733223/20181116022427788.jpg'
                                alt='03期：神秘来电（下）' /><span class='w-newfigure-hint'>2018-11-16期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>03期：神秘来电（下）</span></p>
                        </div>
                    </a></li>
                <li title='02期：逃出无名岛Ⅱ（上）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4709240.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://1img.mgtv.com/preview/sp_images/2018/11/8/zongyi/325963/4709240/20181108191101274.jpg'
                                alt='02期：逃出无名岛Ⅱ（上）' /><span class='w-newfigure-hint'>2018-11-09期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>02期：逃出无名岛Ⅱ（上）</span></p>
                        </div>
                    </a></li>
                <li title='02期：逃出无名岛Ⅱ（下）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4709242.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://0img.mgtv.com/preview/sp_images/2018/11/8/zongyi/325963/4709242/20181108192154119.jpg'
                                alt='02期：逃出无名岛Ⅱ（下）' /><span class='w-newfigure-hint'>2018-11-09期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>02期：逃出无名岛Ⅱ（下）</span></p>
                        </div>
                    </a></li>
                <li title='01期：逃出无名岛（下）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4686423.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/325963/4686423/20181101204234795.jpg'
                                alt='01期：逃出无名岛（下）' /><span class='w-newfigure-hint'>2018-11-02期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>01期：逃出无名岛（下）</span></p>
                        </div>
                    </a></li>
            </ul>
            <div class="jump-more-juji js-more-juji" data-block="tj-more" monitor-desc="往期更多">
                <a href="####" target="_self">往期更多<i class="more-juji-icon"></i></a>
            </div>
            <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">
                <li title='01期：逃出无名岛（上）' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4686416.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://3img.mgtv.com/preview/sp_images/2018/zongyi/325963/4686416/20181101201843196.jpg'
                                alt='01期：逃出无名岛（上）' /><span class='w-newfigure-hint'>2018-11-02期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>01期：逃出无名岛（上）</span></p>
                        </div>
                    </a></li>
            </ul>
            <div class="fold-juji jump-more-juji js-fold-juji" style="display: none" data-block="tj-more" monitor-desc="收起往期更多">
                <a href="####" target="_self">收起<i class="more-juji-icon"></i></a>
            </div>
        </div>


    </div>
    <div style="display:none;" class="js-month-tab">
        <div class="g-clear js-month-page" style="display:block;">
            <ul class="list w-newfigure-list g-clear">
                <li title='互动微剧：片场谜案' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4665373.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/325963/4665373/20181025145842456.jpg'
                                alt='互动微剧：片场谜案' /><span class='w-newfigure-hint'>2018-10-26期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>互动微剧：片场谜案</span></p>
                        </div>
                    </a></li>
                <li title='先导片：侦心不改 侦探集结' class='w-newfigure w-newfigure-180x153'><a href='http://www.mgtv.com/b/325963/4665374.html?cxid=90f0zbamf'
                        data-daochu=to=imgo class='js-link'>
                        <div class='w-newfigure-imglink g-playicon js-playicon'> <img src='https://p0.ssl.qhimg.com/d/_hao360/default.png'
                                data-src='http://1img.mgtv.com/preview/sp_images/2018/zongyi/325963/4665374/20181025145502760.jpg'
                                alt='先导片：侦心不改 侦探集结' /><span class='w-newfigure-hint'>2018-10-26期</span></div>
                        <div class='w-newfigure-detail'>
                            <p class='title g-clear'><span class='s1'>先导片：侦心不改 侦探集结</span></p>
                        </div>
                    </a></li>
            </ul>
            <ul class="list w-newfigure-list g-clear js-more-page" style="display: none">

            </ul>
        </div>


    </div>
    <div class="juji-page js-juji-page" style="display: none">
        <div monitor-desc='分页' id='js-ew-page' data-block='js-ew-page' class='ew-page'></div>
    </div>
</div>