extends layout
block content
    h1=title
    img(src=img, alt="", srcset="")
    video#my-player
    script.
        $(function() {
           const  url= $('#video').data('url')
           if(url){
            getPlayUrl(url)
           }
          });
              function getPlayUrl(url){
                  $('#loading').modal('show')
            
                  $.get(
                      '/search/getPlayUrl?type=dianying&url='+url,function(data,status){  


                      }
                  )
              }
