extends layout

block content
   .accordion#accordion-549037
    .accordion-group
        .accordion-heading 
            a.btn.btn-primary.accordion-toggle.collapsed(contenteditable="true" data-parent="#accordion-549037" data-toggle="collapse" href="#accordion-element-67935") 选项卡 #1
        .accordion-body.collapse(id="accordion-element-67935" style="height: 0px;")
            .accordion-inner(contenteditable="true")    agongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongnengagongneng 
        .accordion-heading
            a.accordion-toggle.collapsed(contenteditable="true" data-parent="#accordion-549037" data-toggle="collapse" href="#accordion-element-679351") 选项卡 #2
        .accordion-body.collapse(id="accordion-element-679351" style="height: 0px;")
            .accordion-inner(contenteditable="true")    gongneng     
                            //
                                <div class="accordion" id="accordion-549037">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle collapsed" contenteditable="true" data-parent="#accordion-549037" data-toggle="collapse" href="#accordion-element-67935">选项卡 #1 </a>
                                            </div>

                                            <div class="accordion-body collapse" id="accordion-element-67935" style="height: 0px;">
                                                <div class="accordion-inner" contenteditable="true">功能块...</div>
                                            </div>
                                        </div>

                                        <div class="accordion-group">
                                            <div class="accordion-heading"><a class="accordion-toggle" contenteditable="true" data-parent="#accordion-549037" data-toggle="collapse" href="#accordion-element-948911">选项卡 #2 </a></div>

                                            <div class="accordion-body collapse" id="accordion-element-948911">
                                                <div class="accordion-inner" contenteditable="true">功能块...</div>
                                            </div>
                                        </div>
                                    </div>


block scriptCode
    script.
        //-  $(function() {
        //-     var a = $('.active  a').text()
        //-     $('#'+a).addClass('show')
        //-     $('#'+a).addClass('active')
        //-     $('.playOne').click(function(){
        //-         let url = $(this).data('url')
        //-         alert(url)
        //-     })
        //-  });