extends layout
block content
    .row-fluid
            #a1
            if seriesNumbers
                .tabbable
                    ul#myTab.nav.nav-tabs
                        each tab ,k in tabs
                            .col-4
                                if !k
                                    li.active
                                        a.btn.btn-success(href="#"+tab  data-toggle="tab")=tab
                                else
                                    li
                                        a.btn.btn-success(href="#"+tab  data-toggle="tab")=tab
                    #myTabContent.tab-content
                            each seriesNumber,tab in seriesNumbers
                                if seriesNumber
                                    .tab-pane.fade.in(id=tab)
                                                each href ,num in seriesNumber
                                                    a.col-1.playOne.btn.btn-info(data-url=href,style='color:#fff')=num
block scriptCode
    
    script.
         $(function() {
            var a = $('.active  a').text()
            $('#'+a).addClass('show')
            $('#'+a).addClass('active')
            $('.playOne').click(function(){
                let url = $(this).data('url')
                if(typeof(url)=='object'){
                    url = url.href
                }
                getPlayUrl(url)


            })


         });
         function getPlayUrl(url){
             
                $.get(
                    '/search/getPlayUrl?url='+url,function(data,status){
                       
                        document.getElementById('a1').innerHTML = '<video src="'+data+'" controls="controls" width="100%" height="100%"></video>';

                    }
                )
            }